$body:100%;
$basePx:640;
@function pxcount($px){
	@return $px/$basePx+rem;
}
*{margin:0;padding:0}
body{
	font:'微软雅黑';
	font-size:16px;
}
@media screen and(min-width:320px){
	font-size:16px;
}
@media screen and(min-width:480px){
	font-size:24px;
}
ul li{
	list-style-type:none;
}
header, footer {
  width: 100%;
  position: absolute; 
}
header{
	top:0;
	background:#e4366b;
	height:pxcount(85);
	font-size:pxcount(40);
	color:white;
	font-weight:bold;
	text-align:center;
	line-height:pxcount(85);
}
footer{
	bottom:0;
	background:#999;
	height:pxcount(98);
}
section{
	width:100%;
	position:absolute;
	top:pxcount(85);
	bottom:pxcount(98);
}
footer>ul{
	width:100%;
	height:pxcount(98);
}
footer>ul>li{
	padding-top:pxcount(60);
	width:20%;
	height:pxcount(38);
	color:white;
	float:left;
	font-size:pxcount(24);
	text-align:center;
}
.red::before{
	content:"";
	position:absolute;
	top:0;
	left:0;
	background:red;
	display:inline-block;
	width:20%;
	height:pxcount(5);
}
.g::before{
	content:"";
	position:absolute;
	top:0px;
	margin-left:pxcount(-40);
	background:red;
	display:inline-block;
	width:20%;
	height:pxcount(5);
}
footer>ul li:nth-child(1){
	background:url(../../img/foot1.jpg) no-repeat center top;
	background-size:pxcount(60) pxcount(60);
}
footer>ul li:nth-child(2){
	background:url(../../img/foot2.jpg) no-repeat center top;
	background-size:pxcount(60) pxcount(60);
}
footer>ul li:nth-child(3){
	background:url(../../img/foot3.jpg) no-repeat center top;
	background-size:pxcount(60) pxcount(60);
}
footer>ul li:nth-child(4){
	background:url(../../img/foot4.jpg) no-repeat center top;
	background-size:pxcount(60) pxcount(60);
}
footer>ul li:nth-child(5){
	background:url(../../img/foot5.jpg) no-repeat center top;
	background-size:pxcount(60) pxcount(60);
}
#ipt{
	width:100%;height:pxcount(90);background:#52525a;
}
#ipt>input{
	position:absolute;width:pxcount(517);height:pxcount(55);margin-left:pxcount(35);margin-top:pxcount(15);border:none;outline:none;
	padding-left:pxcount(40);
}
#ipt::before{
	content:"";
	width:pxcount(30);
	height:pxcount(55);
	position:absolute;
	display:block;
	background:white;
	left:pxcount(25);
	top:pxcount(15);
	border-radius:10px;
}
#ipt:after{
	content:"";
	width:pxcount(30);
	height:pxcount(55);
	position:absolute;
	display:block;
	background:white;
	right:pxcount(32);
	top:pxcount(15);
	border-radius:20px;
}
@font-face {font-family: 'iconfont';
    src: url('iconfont.eot'); /* IE9*/
    src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('iconfont.woff') format('woff'), /* chrome、firefox */
    url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:pxcount(16);font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    position:absolute;
    left:pxcount(45);
    top:pxcount(30);
    z-index:100;
}
#contain{
	width:100%;
	line-height:pxcount(88);
	top:pxcount(90);
	bottom:pxcount(0);
	font-size:20px;
	p::before{
		content:"";
		display:inline-block;
		width:pxcount(20);
	}
	.iconfont{
		positoin:absolute;
		top:pxcount(90);
		left:pxcount(0);
		margin-left:pxcount(600);
	}
	#container{
		position:absolute;
		width:100%;
		top:pxcount(178);
		bottom:pxcount(0);
		ul {
			position:absolute;
			width:100%;
			li{
				width:100%;
				height:pxcount(88);
				border-bottom:1px solid #ccc;
				dl{
					width:100%;height:pxcount(220);
					border-bottom:1px solid black;
					dt{
						position:absolute;
					    img{
					    	width:pxcount(174);
					    	height:pxcount(174);
					    	margin-bottom:17px;
					    	margin-left:10px;
					    	margin-top:10px;
					    }
					}
					dd{
						padding-left:120px;
						height:pxcount(220);
						.info{font-size:12px;height:pxcount(110);line-height:pxcount(50);}
						.price{font-size:10px;height:pxcount(110);line-height:pxcount(110);
							position:relative;
							.im{
								background:url(../../img/goodcar.jpg) no-repeat;
								width:pxcount(117);
								height:pxcount(52);
								background-size:100% 100%;
								position:absolute;
								top:pxcount(25);
								left:pxcount(200);
							}
						}
					}
				}
			}
			li:before{
				content:"";
				display:inline-block;
				width:pxcount(40);
			}
		}
	}	
}
.l{
	overflow:hidden;
}