* {
  margin: 0;
  padding: 0; }

body {
  width: 100%;
  height: 100%; }
  body header, body footer {
    width: 100%;
    position: absolute; }

header {
  top: 0;
  height: 1.34375rem;
  background: #E4366B;
  border-top: 1px solid #636363;
  border-bottom: 1px solid #262626; }
  header #logo {
    display: block;
    width: 3.78125rem;
    height: 0.625rem;
    position: absolute;
    top: 0.39063rem;
    left: 3.0625rem; }
  header #backHome {
    display: block;
    width: 0.8125rem;
    height: 0.5625rem;
    position: absolute;
    top: 0.39063rem;
    left: 0.3125rem; }

.search {
  width: 100%;
  height: 1.34375rem;
  background: #52525A;
  border-top: 1px solid #636363;
  border-bottom: 1px solid #262626;
  position: absolute;
  top: 1.34375rem; }
  .search img {
    display: block;
    width: 0.65625rem;
    height: 0.64063rem;
    position: absolute;
    left: 0.70313rem;
    top: 0.32813rem;
    z-index: 10; }
  .search #searchInfo {
    padding-left: 1.17188rem;
    font-size: 0.375rem;
    width: 8.04688rem;
    height: 0.85938rem;
    border-radius: 0.39063rem;
    /* margin-left:pxCount(25);
     margin-top:pxCount(15);*/
    border: 0;
    position: absolute;
    top: 0.23438rem;
    left: 0.39063rem;
    outline: none; }

section {
  font-size: 0.625rem;
  width: 100%;
  position: absolute;
  top: 2.75rem;
  bottom: 1.5rem; }
  section div {
    border-bottom: 1px solid #aaa; }
    section div span {
      text-decoration: none;
      display: inline-block;
      float: right;
      width: 0.45313rem;
      height: 0.45313rem;
      margin-top: 0.25rem;
      -webkit-transition: transform 0.5s; }
      section div span img {
        float: right;
        width: 100%;
        height: 100%;
        display: block; }
  section .rotate {
    -webkit-transform: rotate(90deg); }
  section .all {
    padding: 0.3125rem 0.46875rem 0rem 0.3125rem;
    height: 1.03125rem;
    border-bottom: 2px solid #aaa; }
    section .all span {
      transform: rotate(90deg); }
  section .first {
    padding: 0.3125rem 0.46875rem 0rem 0.625rem;
    height: 1.03125rem; }
  section .addGoods {
    width: 100%;
    overflow: hidden;
    display: none; }
    section .addGoods dl {
      padding: 0.3125rem 0rem 0.3125rem 0.23438rem;
      width: 9.76563rem;
      height: 2.8125rem;
      border-top: 1px solid #ACAAAB;
      border-bottom: 1px solid #282828; }
      section .addGoods dl dt {
        width: 2.65625rem;
        height: 2.65625rem;
        border: 0.01563rem solid #C6C6C6;
        float: left; }
        section .addGoods dl dt img {
          width: 2.65625rem;
          height: 2.65625rem; }
      section .addGoods dl dd {
        width: 6.17188rem;
        height: 3.125rem;
        margin-left: 0.23438rem;
        float: left;
        font-size: 0.4375rem; }
        section .addGoods dl dd p {
          margin: 0.15625rem 0; }
        section .addGoods dl dd i {
          font-style: normal;
          font-size: 0.5rem;
          color: #F42A74;
          margin-right: 0.3125rem; }
        section .addGoods dl dd b {
          font-weight: normal;
          font-size: 0.3125rem;
          color: #BCBABB;
          text-decoration: line-through; }
        section .addGoods dl dd span {
          font-size: 0.375rem;
          padding-left: 0.15625rem;
          display: inline-block;
          float: left;
          width: 1.5625rem; }
        section .addGoods dl dd a {
          display: inline-block;
          width: 1.84375rem;
          height: 0.8125rem;
          /*text-align:center;
          line-height:pxCount(52);
          color:#fff;
          font-family:"shopping" !important;*/
          /* font-size:pxCount(40);font-style:normal;*/
          float: right;
          text-decoration: none;
          border-radius: 0.15625rem;
          margin-top: -0.3125rem;
          margin-right: 0.3125rem;
          overflow: hidden; }
          section .addGoods dl dd a img {
            display: block;
            width: 100%;
            height: 100%; }

footer {
  height: 1.5rem;
  border-top: 1px solid #636363;
  background: #484850;
  position: fixed;
  bottom: 0;
  width: 100%; }
  footer ul li {
    list-style: none;
    float: left; }
    footer ul li a {
      display: block;
      text-decoration: none;
      width: 2rem;
      height: 1.5rem; }
      footer ul li a img {
        display: block;
        width: 100%;
        height: 100%; }

/*# sourceMappingURL=list.css.map */
